/* 컨테이터 쿼리 */
.post {
  container-type: inline-size;
  background: yellow;
  width: 70%;
}
.card h2 {
  font-size: 24px;
  color:blue
}
@container (min-width: 600px) {
  .card h2 {
    font-size: 48px;
    color:red
  }
}